:root {
    --clr-primary: #6a70ee;
    --clr-primary-hover: #3629e6;
    --clr-primary-dark: #5449b3;
    --clr-purple100: #989FCE;
    --clr-purple200: #4F4D96;
    --radius: 0.2rem;
}

html{
    width:100%;
}

body {
    margin:0;
    width:100%;
    font-family: Segoe UI;
    background: var(--clr-purple100);
}

#root{
    height:100%;
}