#results-cont{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

body{
    height:100%;
}

html{
    height:100%;
}

.result{
    background-color: var(--clr-primary);
    width:20%;
    height:200px;
    border-radius: 15px 15px;
    margin: 2.5%;
}

#loadBtn{
    border:none;
    border-radius: 13px;
    color:white;
    background: var(--clr-purple200);
    transition: all 0.25s;
    margin:2%;
    width:150px;
    height:70px;
    font-size: large;
}

#loadBtn:hover{
    box-shadow: 3px 3px 0px var(--clr-darkpurple);
}
.result-bottom{
    height:80px;
    margin-bottom: 100%;
    background-color: rgb(23, 23, 23);
    border-radius: 0px 0px 15px 15px;
}

.job{
    float:left;
    margin: 7%;
}

.hours{
    float: right;
    margin: 7%;
}

.name-cont{
    display:flex;
    justify-content: center;
    align-items: center;
}