

#Back-Tutorial {
    display:flex;
    border-width: 5px;
    margin: 20px;
    flex-direction: column;
    padding-left:30px;
    flex-wrap:wrap; 
    padding-right: 30px;
}



.breaker {
    border: 5px solid;
    border-radius: 10px;
    border-color: var(--clr-purple200);
    background-color: var(--clr-purple200)
}

#User-guide {
    margin-bottom: 70px;
    color: var(--clr-primary-dark);
}

.T-Image {
    width: 300px;
    float: right;
}

.T-Purp {
    color: var(--clr-primary-dark);
}


.T-text {
    color: var(--clr-purple200);
}